body {
    background-color: #01003f;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBox{
    width: 320px;
    height: 380px;
    background-color:#010048;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 0px 4px 16px 4px black;
    transition: 0.5s;
    padding: 2%;
}
.loginBox:hover{
    box-shadow: 1px 4px 16px 8px #030099b3;
}
form{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5%;
}
.logo{
    border: 1px solid rgba(0, 119, 204, 0.376)0;
    border-radius: 50%;
    padding: 3px;
    width: 26px;
    height: 30px;
    background-color: #1f1f38;
    box-shadow: 1px 1px 16px 1px #38acff81;
    align-self: center;
    margin-bottom: 4px;
}
.logo span{
    font-size: 20px;
}    
.webname{
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 0;
    align-self: center;
}
.status,ul,li{
    padding: 0;
    margin: 0;
    color: #2a81d2;
    font-size: 8px;
    align-self: center;
}
li::marker{
    color: rgb(71, 255, 47);
    font-size: 2em;
}
label{
    width: 100%;
    color: #2a81d2;
    font-size: 12px;
    display: inline;
    margin-bottom: 7px;
}
.checkbox label{
    width: 100%;
    color: #2a81d2;
    font-size: 12px;
    display: inline;
}
input{
    width: 100%;
    height: 20px;
    background-color: #1f1f38;
    color: #ffffff;
    border: 2px solid #1f1f38;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.checkbox{
    display: flex;
    align-items: left;    
    width: 100%;
}
#session {
    transform: scale(0.6);   /* try 0.6–0.8 */
}
.sessionlabel{
    margin-left: 5px;
    margin-top: 7px;
    font-size: 10px;
}
.frgetpaswd{
    margin-left: auto;
    margin-top: 9px;
    font-size: 10px;
}
button{
    width: 100px;
    height: 40px;
    background-color: #03ed03;
    color: rgb(0, 0, 0);
    border: 2px solid #03ed03;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    align-self: center;
}
button:hover{
    background-color: #03ed03;
    color: #000000;
    border: 2px solid #25ff25;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 1px 3px 16px 4px #03ed03;
}