*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    color: #333;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
#myChart{
    width:50vw;
    height: 50vh;
    margin-top: 20vh;
}